
.login-dropdown {
  position: relative;
  display: inline-block;
}

.login-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}
.login-btn:hover{
    background-color: #2874f0;
    color: white;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 220px;
  margin-right: 300px;
  z-index: 100;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.login-menu-btn {
  background-color: #2874f0;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.signup-link {
  color: #2874f0;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
